<div class="search" style="padding-right: 15px;">
  <%= form_with url: keyword_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "キーワードで検索" %>
    <%= button_tag(type: 'submit') do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>