<div class="search" style="padding-right: 10px; text-align: right;">
  <%= form_with url: keyword_search_path, method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :keyword, placeholder: "キーワードで検索", class: "form-control" %>
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  <% end %>
</div>