<h2>"<%= @keyword %>"の検索結果</h2>
<p>(全<%= @restaurants.count %>件)</p>

<% if @restaurants.present? %>
  <%= render 'public/restaurants/index', restaurants: @restaurants %>
<% else %>
  <p>該当するお店はありません</p>
<% end %>
