
<%= render 'restaurant/homes/info', restaurant: @restaurant %>

<%= render 'public/reviews/index', reviews: @reviews %>

<div class="d-flex justify-content-end mt-3">
  <%= link_to "レビューを書く", new_restaurant_review_path(@restaurant) %> ｜ 
  <%= link_to "レビュー一覧", restaurant_reviews_path(@restaurant) %>
</div>
