<h2>退会確認画面</h2>

<p>本当に退会しますか？</p>

<p>退会するとアカウントおよびすべてのデータが削除されます。</p>
<p>再度ご利用いただくには、新しいアカウントを作成する必要があります。</p>

<%= link_to '戻る', restaurant_path(current_restaurant), class: 'btn btn-primary' %>
<%= link_to '退会する', withdrawal_restaurant_owner_path(current_restaurant), method: :patch, class: 'btn btn-danger' %>
